@font-face {
  font-family: 'Peckish';
  src: url('./Assets/Fonts/Peckish-Bold-Serif-Typeface 2/Peckish.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Glacial';
  src: url('./Assets/Fonts/glacial-indifference/GlacialIndifference-Regular.woff') format('woff');
  font-weight: bolder;
  font-style: normal;
}
.carousel-image {
  width: 40%; 
  height: auto; 
  display: block; 
  margin: 0 auto; 
}
.carousel-slider {
  width: 50%; 
  margin: 0 auto; 
}

